<div class="background">
  <div class="columns">
    <div class="column is-8" id="content-box">

      {{#if loggedIn}}
      {{> userpage}}

      {{else}}
      <p>Silver Screenr is a user-friendly web application designed for movie enthusiasts to enhance their cinematic experience. With Silver Screenr, users can effortlessly discover, track, and engage with their favorite movies. The app provides a comprehensive platform where users can explore a vast database of films, add movies to their watchlist, and share personalized ratings and reviews. Whether you're a cinephile looking to curate your must-watch list or eager to share your thoughts on the latest releases, Silver Screenr is your go-to destination for seamlessly blending movie discovery and community engagement. Join Silver Screenr today and transform your movie-watching journey into a social and interactive experience.</p>
      {{/if}}

    </div>
  </div>
</div>