<div class="background">
    <div class="columns">
        <div class="column is-4" id="signup-box">
            <h2>New User Registration</h2><br>
            <form class="form signup-form">
                <div class="user-box form-group">
                    <label for="username-signup">Username</label>
                    <input id="username-signup" type="text" placeholder="Enter a username" />

                </div>
                <div class="user-box form-group">
                    <label for="password-signup">Password</label>

                    <input id="password-signup" type="password" placeholder="Enter a password" />

                </div>

                <div class="user-box form-group">
                    <label for="email-signup">Email</label>

                    <input id="email-signup" type="email" placeholder="Enter your email address" />

                </div>
                <div class="user-box form-group">
                    <button class="button is-link is-light login-form" type="submit">Sign Up</button>
                </div>

                <div>
                    <p>Already registered? Click <a href="../login">here</a> to log in!</p>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="./assets/js/signup.js"></script>